// Body & Main-Container
$body-bg-color: rgb(241, 239, 235);
$body-bg-color-dark: rgb(32, 40, 46);

$primary-font-color: rgb(32, 40, 46);

// Banner Variables
$banner-height: 175px;
$banner-width: 100%;

:root {
  --body-bg-color: #{$body-bg-color};
  --body-bg-color-dark: #{$body-bg-color-dark};
  --primary-font-color: #{$primary-font-color};
}
