// Body & Main-Container
$body-bg-color: rgb(241, 239, 235);
$body-bg-color-dark: rgb(32, 40, 46);

$primary-font-color: rgb(32, 40, 46);

// Banner Variables
$banner-height: 175px;
$banner-width: 100%;
