@use '../abstracts' as *;

footer.footer {
  background-color: $footer-bg-color;
  padding: 0.8rem 1rem;
  text-align: center;

  p,
  a,
  .site-links {
    font-size: 0.65rem;
  }

  p {
    margin-bottom: 0.15rem;
  }

  a {
    display: inline-block;
    margin: 0 0.25rem;
    font-weight: 700;
  }

}
