@use '../abstracts' as *;

label {
  font-weight: 700;
  line-height: 1.1;
}

fieldset {
  margin-bottom: 0;
}

form button {
  background-color: $primary-dark;
  color: $primary-light;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  transform: background-color 0.4s ease-out;

  &:hover {
    background-color: lighten($primary-dark, 16%);
  }
}


.form-container.form-auth {
  padding: 1rem 1rem 3rem;
  margin-top: 60px;
  max-width: 540px;
  
  @media screen and (max-width: 768px) {
    max-width: 420px;
  }

  .form-title {
    border-bottom: 0.8rem solid var(--primary-dark);
    margin-bottom: 1.6rem;
    padding-bottom: 0.4rem;
  }

  form {
    margin-bottom: 1rem;
  }

  button {
    margin-top: 0.75rem;
  }
}

