@use '../abstracts' as *;

html,
body,
#app {
  height: 100%;
  margin: 0;
}

.main-container {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: $body-bg-color;

  .sidebar-container {
    position: relative;
    width: 280px;
    height: 100%;
    min-height: 100vh;
    padding: 1rem;
    border-right: 5px solid $primary-font-color;
    margin-right: 0.5rem;
    transition: all 0.3s ease-in;

    &.collapsed {
      width: 80px;
      padding: 1rem 0.5rem;
      background-color: $primary-font-color;
    }
  }

  .main-wrapper {
    flex: 1;
  }
}

.main-banner {
  width: $banner-width;
  height: $banner-height;
  display: flex;
  align-items: center;

  h1 {
    padding: 2rem 1rem;
    text-align: center;
    text-transform: uppercase;
  }
}

footer.footer {
  background-color: transparent;
}

