@use '../abstracts' as *;

html,
body,
#app {
  height: 100%;
  margin: 0;
}

.main-container {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: $body-bg-color;

  // See any .sidebar-container styles in respective SFC

  .main-content {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
  }
}

.main-banner {
  width: $banner-width;
  height: $banner-height;
  display: flex;
  align-items: center;

  h1 {
    padding: 2rem 1rem;
    text-align: center;
    text-transform: uppercase;
  }
}
