// Banner Variables
$banner-height: 175px;
$banner-width: 100%;

html,
body,
#app {
  height: 100%;
  margin: 0;
}

.main-container {
  width: 100%;
  min-height: 100%;
  display: block;
  position: relative;
  background-color: $body-bg-color;
}

.main-banner {
  width: $banner-width;
  height: $banner-height;
  display: flex;
  align-items: center;

  h1 {
    padding: 2rem 1rem;
    text-align: center;
    text-transform: uppercase;
  }
}

footer.footer {
  background-color: transparent;
}

