.training-card-wrapper {
  display: block;
  max-width: 580px;
  box-shadow: 2px 3px 8px 2px rgba(0, 0, 0, 0.15);
  margin: 1rem auto;
  transition: all 0.4s ease-out;
  border-bottom-style: solid;
  border-bottom-width: 0.75rem;
  border-radius: 0.25rem;


  &:hover {
    box-shadow: 4px 5px 8px 5px rgba(0, 0, 0, 0.15);
  }

  &.white-belt {
    border-bottom-color: $white-belt;
  }

  &.blue-belt {
    border-bottom-color: $blue-belt;
  }

  &.purple-belt {
    border-bottom-color: $purple-belt;
  }

  &.brown-belt {
    border-bottom-color: $brown-belt;
  }

  &.black-belt {
    border-bottom-color: $black-belt;
  }

  h3 {
    margin-top: 0.25rem;
  }
}
